.sidebar-container {
  .header {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;

    .focus {
      margin: 0 1rem 0 auto;
      cursor: pointer;

      &:hover {
        content: url("/images/icons/focus-hover.svg");
        width: 40px;
        height: 40px;
      }
    }

    .star {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      cursor: pointer;

      &:not(.starred) img {
        &:hover {
          fill: #fff;
          content: url("/images/icons/star-filled.svg");
        }
      }

      button.link {
        all: unset;

        &:focus {
          outline: revert;
        }

        a {
          font-size: 14px;
        }
      }
    }

    .sidebar-image {
      margin: 4px;
      border-radius: 50%;
      border: 4px solid #ffffff;
      outline: 4px solid #777777;
    }
  }
}

h1 {
  padding: 1rem 0;
}

h3 {
  font-size: 1rem;
  margin: 1rem 0 0.5rem 0;
}

p {
  margin-bottom: 1rem;
}

.copyright {
  margin-top: 2rem;
  color: #999999;
  font-style: italic;
  font-size: 0.8rem;
}
