.close-button {
  position: absolute;
  left: -27px;
  top: 50vh;
  border-radius: 10px 0 0 10px;
  padding: 20px 10px;
  cursor: pointer;
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: -1;
  background-color: #fff;
}

.sidebar {
  padding: 2em;
  position: absolute;
  right: -30rem;
  top: 0;
  width: 30rem;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.15);
  transition: right 0.2s ease-in-out;

  .star {
    position: absolute;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;

    &:not(.starred) img {
      &:hover {
        fill: #fff;
        content: url("/images/icons/star-filled.svg");
      }
    }

    .link a {
      font-size: 14px;
    }
  }

  .sidebar-image {
    border-radius: 50%;
    border: 4px solid #ffffff;
    outline: 4px solid #777777;
  }

  h1 {
    padding: 1rem 0;
  }

  &.show {
    right: 0;
  }
}
