.close-button {
  position: absolute;
  left: -27px;
  top: 50vh;
  border-radius: 10px 0 0 10px;
  padding: 20px 10px;
  cursor: pointer;
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: -1;
  background-color: #fff;
}

.sidebar {
  padding: 2em;
  position: absolute;
  right: -30rem;
  top: 0;
  width: 30rem;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.15);
  transition: right 0.2s ease-in-out;

  &.show {
    right: 0;
  }

  .sidebar-container {
    overflow-y: scroll;
    height: 100%;
  }
}
